<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span class="accent-purple">P</span>
      <span class="accent-blue">r</span>
      <span class="accent-green">o</span>
      <span class="accent-purple">s</span>
      <span class="accent-blue">p</span>
      <span class="accent-green">e</span>
      <span class="accent-purple">r</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <!-- Show Watchlist and Portfolio only if the user is logged in -->
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/watchlist">Watchlist</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
      </ul>
      <app-search-bar class="d-flex flex-grow-1 justify-content-center mx-4"></app-search-bar>
      <!-- Navbar Component HTML -->
      <ul class="navbar-nav ms-auto">
        <!-- Display when not logged in -->
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>

        <!-- Display when logged in -->
        <li *ngIf="isLoggedIn()" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="/manage-account">Manage Account</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
